:root {
  /* COLORS */
  --clr-light: #fff;
  --clr-dark: #191919;
  --clr-yellow: #ffcd00;
  --clr-red-500: #ff0f52;
  --clr-red-600: #ea003d;
  --clr-grey: #e8e8e8;
  --bg-body: #1a143b;
  --bg-card: #211943;
  --bg-card-header-line: #3c2f78;
  --clr-card-btn: #6c60a9;
  /* FONTS */
  --ff-primary: "Fira Sans", sans-serif;

  /* FONT WEIGHTS */
  --fw-reg: 400;
  --fw-md: 500;
  --fw-bold: 700;

  /* FONT SIZES */
  /* 16px, 14px, 20px, 36px, 18px */
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-h1-md: 2.25rem;
  --fs-h1-lg: 2.625rem;

  /* BORDER RADIUS */
  --br-strong: 16px;
  --br-week: 8px;

  /* PADDING */
  --card-pad: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  line-height: 1.6;
  font-family: var(--ff-primary);
  font-size: var(--fs-md);
  background: var(--bg-body);
  color: var(--clr-light);
  overflow-x: hidden;
}
ul {
  padding: 0;
}
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1,
h2,
h3,
p {
  margin: 0;
}

/* styles guids from BULMA  */
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.col {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.bold {
  font-weight: var(--fw-bold);
}
.container {
  max-width: 1176px;
  width: 100%;
  margin: 0 auto;
}

.header__link {
  color: var(--clr-light);
  padding-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.header__bottom-nav .header__link::before {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--clr-light);
  transform: translateX(-100%);
}
.header__link:hover::before {
  transform: translateX(0);
}
.header__top-nav .header__link:hover {
  text-shadow: 0px 0px 1px var(--clr-light);
}
.header-top {
  padding: 0.812rem 0;
}
.header-persistent {
  padding: 1.125rem 0;
}
.header__top-nav .header__link {
  font-size: var(--fs-sm);
}
.header__top-nav .header__link + .header__link {
  margin-left: 2.5rem;
}
.header__bottom-nav .header__link {
  font-size: var(--fs-md);
}
.header-desktop .logo {
  margin-right: 2.375rem;
}
.header__bottom-nav .header__link + .header__link {
  margin-left: 1.5rem;
}
.header-mobile {
  display: none;
}
.header-mobile .logo img {
  width: auto;
  height: auto;
}
.header-mobile-inner {
  padding: var(--fs-sm) 0;
  position: relative;
  z-index: 2;
}
.lang {
  margin-right: 2.5rem;
}
.burger-btn {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}
.burger-btn span {
  position: relative;
}
.burger-btn span,
.burger-btn span::before,
.burger-btn span::after {
  width: 100%;
  display: inline-block;
  height: 0.09375rem;
  background: var(--clr-light);
}
.burger-btn span::before,
.burger-btn span::after {
  content: "";
  position: absolute;
}
.burger-btn span::before {
  top: -0.625rem;
  left: 0;
}
.burger-btn span::after {
  top: 0.625rem;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-body);
  z-index: 9999;
}

.mobile-nav {
  margin-top: 1.5rem;
}
.mobile-nav * + * {
  margin-top: 1.25rem;
}
.client-links a {
  font-size: 15px;
  color: var(--clr-light) !important;
  padding: 24px 18px 18px 18px;
  /* border-bottom: 2px solid var(--clr-yellow); */
  flex: 1;
  text-align: center;
  position: relative;
}
.client-links a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--clr-grey);
  opacity: 0.2;
}
.client-links-active:before {
  background-color: var(--clr-yellow) !important;
  opacity: 1 !important;
}
.burger-menu .header-mobile-inner {
  position: relative;
}
.burger-menu .header-mobile-inner:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 1px;
  left: -10%;
  bottom: -7px;
  background-color: var(--clr-grey);
  opacity: 0.2;
}

.linear {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    143.04deg,
    #f8104d -6.84%,
    rgba(26, 20, 59, 0) 68.79%
  );
  pointer-events: none;
  z-index: -1;
}

.linear-desktop {
  position: absolute;
  background: linear-gradient(
    143.04deg,
    #f8104d -10.84%,
    rgba(26, 20, 59, 0) 38.79%
  );
}
/* BUTTONS */
.btn {
  border: none;
  cursor: pointer;
  font-family: var(--ff-primary);
}
.btn-primary {
  border-radius: var(--br-week);
  font-weight: var(--fw-md);
  padding: 0.625rem 1.5rem;
  background: var(--clr-yellow);
}
.btn-secondary {
  padding: 1.437rem 2.75rem;
  border-radius: var(--br-strong);
  font-weight: var(--fw-bold);
  font-size: var(--fs-xl);
  color: var(--clr-light);
  background: var(--clr-red-500);
  overflow: hidden;
  position: relative;
}
.btn-secondary::after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;
}

.btn-secondary:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.title,
.subtitle {
  color: var(--clr-light);
}
.title {
  font-size: var(--fs-h1-lg);
  line-height: 3.25rem;
}
.subtitle {
  font-size: var(--fs-xl);
  font-weight: var(--fw-reg);
}
.title + .subtitle {
  margin-top: 1rem;
}

.intro__left {
  max-width: 32.87rem;
  width: 100%;
}
.intro__left,
.intro__right {
  flex: 1;
}

.intro__right img {
  transform: scale(1.5) translateY(3rem);
  pointer-events: none;
}
.intro__btns {
  margin-top: 2rem;
  flex-wrap: wrap;
}
.btn-how-activate {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  margin-left: 1.562rem;
  font-size: var(--fs-xl);
  position: relative;
  padding: 1.37rem 0;
}
.btn-how-activate::after {
  content: "";
  width: 2.25rem;
  height: 2.25rem;
  background: url("../images/btn-play.svg") no-repeat;
  position: absolute;
  right: -2.8rem;
  transition: all 100ms ease-in;
}
.btn-how-activate:hover::after {
  right: -3.5rem;
}
.tariffs {
  max-width: 48.5rem;
  margin: 0 auto;
  margin-top: 5.6rem;
}
.tariffs-mobile {
  display: none;
}
.tariffs .title {
  font-size: var(--fs-h1-md);
  line-height: 3rem;
}

.grid {
  display: grid;
}
.tariffs .grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
  margin-top: 2rem;
}
.card-wide {
  grid-column: 1 / 3;
}
.card__header img {
  width: auto;
  margin-right: 1.5rem;
}
.card {
  padding: var(--card-pad);
  background-color: var(--bg-card);
  border-radius: var(--br-strong);
}

.card__cost {
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.card__header {
  border-bottom: 1px solid var(--bg-card-header-line);
  padding-bottom: 1.875rem;
}
.activate-note {
  color: var(--clr-red-600);
  font-weight: var(--fw-bold);
}
.card__social-network-link:first-of-type {
  margin-left: 0.75rem;
}
.card__social-network-link + .card__social-network-link {
  margin-left: 0.5rem;
}
.card__social-network-ico,
.footer-content .social-networks img {
  height: auto;
  transition: transform 200ms ease-in-out;
}
.card__social-network-ico:hover,
.footer-content .social-networks img:hover {
  transform: translateY(-5px);
}
.card__list + .card__list {
  margin-top: 1.25rem;
}
.card__body ul {
  margin: 1.75rem 0 2rem 0;
}
.card__btn {
  padding: 1.125rem 0;
}
.card__btn.btn-primary:hover {
  background-color: hsl(48, 100%, 43%);
}
.card__btn_limpid {
  display: inline-block;
  margin-top: var(--fs-xl);
  color: var(--clr-card-btn);
  transition: all 100ms ease-in;
}
.card__btn_limpid:hover {
  text-shadow: 0px 0px 1px var(--clr-card-btn);
}

.card-wide__left,
.card-wide__right,
.card-wide .btn {
  flex: 1;
}
.card__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  line-height: 1.5rem;
}
.card-wide__right {
  padding-left: calc(var(--card-pad) + 3.65rem);
}
.card-wide .activate-note {
  margin-bottom: 0.973rem;
}
.card-wide .card__footer {
  padding-top: 2rem;
}
.card-wide button.btn {
  margin-left: calc(var(--card-pad) + 3.65rem);
}
.card-wide .card__btn_limpid {
  margin: 0;
}
.download {
  margin-top: 7.375rem;
}
.download-content {
  position: relative;
}
.download-content__img-shadow {
  position: absolute;
  top: -20%;
  left: -7%;
  z-index: -1;
}
/*  */
.download-content > div:first-child {
  flex: 0.36;
}
.download-content > div:first-child + div {
  flex: 0.48;
}
.download-content__body {
  margin-top: 1rem;
}
.download-content__body .btn {
  margin-top: 2.5rem;
}
.download-content__body > div:first-child {
  padding-bottom: 4.06rem;
  position: relative;
}
.download-content__body > div:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--clr-grey);
  width: 14.37rem;
  height: 1px;
  opacity: 0.1;
}

.download-content__body .btn + .btn {
  margin-left: 1rem;
}
.download__btn-gplay,
.download__btn-appstore {
  background-position: 1.125rem center;
  background-repeat: no-repeat;
  padding-left: 3.75rem;
  text-align: left;
  font-size: var(--fs-sm) !important;
  transition: all 150ms linear;
}

.download__btn-appstore:hover {
  box-shadow: 0px 5px 15px 3px var(--clr-yellow);
}
.download__btn-gplay:hover {
  border-color: transparent;
  box-shadow: 0px 0px 15px 3px rgb(182, 177, 177);
}
.download__btn-gplay span,
.download__btn-appstore span {
  font-size: 0.626rem;
}
.download__btn-gplay {
  border: 1px solid var(--clr-light);
  color: var(--clr-light);
  background-image: url("../images/google-play\ 1.svg");
  background-color: transparent;
}
.download__btn-appstore {
  background-image: url("../images/apple-ico.svg");
  background-position: 1.425rem center;
}
.download-content__footer .btn {
  margin-top: 4.625rem;
}

.benefits {
  margin-top: 4.375rem;
}
.benefits img {
  width: auto;
  height: auto;
  margin-right: 1.5rem;
}
.img-mobile {
  display: none;
}
.benefits-block + .benefits-block div {
  flex: 1;
  margin-right: 6.1rem;
  margin-top: 3.125rem;
}
/* .benefits-block:first-of-type {
  gap: 4rem;
} */
.benefits-block:first-of-type div:nth-child(1) {
  flex: 0.3;
}
.benefits-block:first-of-type div:nth-child(2) {
  flex: 0.25;
}
.benefits-block:first-of-type div:nth-child(3) {
  flex: 0.39;
}

.benefits-block,
p.note {
  max-width: 900px;
  margin: 0 auto;
}
p.note {
  font-size: var(--fs-sm);
  position: relative;
}
p.note:before {
  content: "*";
  position: absolute;
  top: 0;
  left: -1.25rem;
}

section.note {
  margin-top: 8.75rem;
}

.footer {
  margin-top: 4.125rem;
}
.footer-content {
  padding: 2.93rem 0 4.87rem 0;
  position: relative;
  font-size: var(--fs-sm);
}
.footer-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-grey);
  opacity: 0.1;
}

.social-networks img {
  width: auto;
  height: auto;
}
.copyright {
  color: var(--clr-light);
}
.communication__tel,
.communication__callcenter {
  color: var(--clr-grey);
  opacity: 0.1;
  margin-right: 2.75rem;
}
.communication__mail {
  color: var(--clr-yellow);
}
.communication a {
  position: relative;
}
.communication a:before {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  width: 100%;
  height: 0.03125rem;
  background-color: var(--clr-light);
  transition: opacity 300ms ease-out;
  opacity: 0;
}
.communication__mail:before {
  background-color: var(--clr-yellow) !important;
}
.communication a:hover:before {
  opacity: 1;
}
.social-networks > a:not(:last-child) {
  display: inline-block;
  margin-right: 0.75rem;
}

/* MEDIA QUERY */
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 0.9375rem;
  }
}
@media screen and (max-width: 1080px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .intro__right img {
    transform: none;
  }
}

@media screen and (max-width: 1024px) {
  .intro-inner {
    flex-direction: column;
  }
  .intro__left {
    order: 2;
  }
  .intro__right {
    width: 90%;
  }
  .download-content > div:first-child,
  .download-content > div:first-child + div {
    flex: 1;
  }
  .btn-secondary {
    font-size: var(--fs-md);
  }
  .benefits-block:first-of-type {
    gap: 1rem;
  }
  .benefits-block + .benefits-block div {
    margin-right: 1rem;
  }
  .communication {
    margin: 0 0.5rem;
  }
  .footer-content {
    align-items: initial !important;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .tariffs .title {
    font-size: 1.5rem;
    width: 70%;
    margin: 0 auto;
  }
  /* .benefits-block__item p {
    font-size: var(--fs-md);
  } */
  .intro__right {
    width: 120%;
  }
  .download .title {
    font-size: 1.5rem;
  }
  .download .title p {
    font-size: 32px;
    font-weight: var(--fw-bold);
  }
}
@media screen and (max-width: 767px) {
  .download-content {
    flex-direction: column;
    align-items: center;
  }
  .download-content__img {
    width: auto;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
  }
  .download-content__body > div:first-child::after,
  .download-content__footer .btn {
    width: 100%;
  }
  .download__btn-groups {
    width: auto;
    margin: 0 auto;
  }
  .download-content__img.img-mobile {
    margin: 0 auto;
  }
  .download__btn-groups {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .download-content__img-shadow {
    top: 0;
  }
  .benefits-block {
    flex-direction: column;
    gap: 2.375rem !important;
    margin-top: 2.375rem !important;
  }
  .benefits-block + .benefits-block div {
    margin-top: 0 !important;
  }

  .tariffs-mobile {
    display: block;
  }
  .tariffs-desktop {
    display: none;
  }
  .card {
    min-width: 18.75rem;
  }
  .download-content__footer > *:first-child {
    margin-top: 1.25rem;
  }
  .download-content__footer > .btn {
    margin-top: 1.5rem;
  }
  .intro__right {
    width: 100%;
    transform: scale(1.4);
  }
  html {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 490px) {
  .download-content__img,
  .communication,
  .social-networks {
    margin-top: 1.5rem !important;
  }
  .communication {
    line-height: 2rem;
  }
  .intro__btns {
    justify-content: center;
  }
  .btn-how-activate {
    margin-left: 0;
  }
  .intro__btns .btn-secondary,
  .tariffs .title {
    width: 100%;
  }
  .subtitle,
  .benefits-block__item p {
    font-size: var(--fs-md);
  }
  .download-content__img-shadow {
    top: 25%;
    width: 150%;
  }
  section.note {
    margin-top: 3.75rem;
  }
  .footer-content {
    flex-direction: column;
  }

  .download {
    overflow-x: hidden;
  }

  .card {
    width: 100%;
  }
  .swiper-slide-active {
    width: calc(100% - 33px) !important;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0 !important;
  }
  .swiper-container {
    padding-bottom: 3.125rem !important;
  }
  .card__title {
    font-size: 1rem;
  }
  .activate-note {
    font-size: 1.125rem;
  }
  .card {
    padding: 1.25rem;
  }
  .card__cost + span {
    font-size: 0.875rem;
  }
  .card__header img {
    margin-right: 1rem;
    width: 52px;
    height: 52px;
  }
  .swiper-pagination-bullet-active {
    transform: scale(1.3);
    background-color: var(--clr-yellow) !important;
  }
  .tariffs {
    margin-top: 4.25rem;
  }
  .download {
    margin-top: 3.75rem;
  }
  p.note:before {
    display: none;
  }
}
